.header-role {
    color: #768d99;
    font-weight: lighter;

}
.header-role span {
    margin: 0 20px 0 20px;
}

.dashboard-header {
    padding: 0 10px 20px 10px;
}

.dashboard-body h4 {
    padding: 0 0 5px 0;
}

.dashboard-header h1 {
    font-weight: bold;
}

.dashboard-body {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.multiselect-control {
    display: block !important;
}

.dashboard-banner {
	background-image: url('../img/home.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;
	height: 240px;
}


.topContainer {
width: 100%; flex: 1; padding: 0 10px; margin-bottom: 30px;box-sizing: border-box;
}

.topContainerWrapper {
margin-bottom: 30px;
padding-top: 30px;
display: flex;
}

.topContainerLeft {
width: 50%;display: inline-block;
}

.topContainerLeft h2 {
    display: none;
}

.topContainerLeft h4 {
    margin-top: 15px;
}

.topContainerRight {
width: 35%;display: inline-block;
padding-left: 10px;
}


.topContainerRight h4 {
    margin-top: 15px;
}

.external-links-table td:nth-child(2),
.external-links-table th:nth-child(2) {
    width: 220px;
}

.external-links-table td:nth-child(1),
.external-links-table th:nth-child(1) {
    width: 90px;
}

.external-links-table td:nth-child(5),
.external-links-table th:nth-child(5) {
    text-align: center;
    width: 140px;
}

.external-links-table td:nth-child(6),
.external-links-table th:nth-child(6) {
    text-align: right;
    width: 120px;
}

.external-links-table .link-action {
    cursor: pointer;
}

.external-links-controls {
    margin-top: 10px;
}

.external-links-help {
    color: #768d99;
    font-size: 12px;
    margin-top: 8px;
}

.external-links-order .link-action {
    display: inline-block;
    padding: 0 4px;
}

.external-links-footer .table-forms-td-left {
    display: none;
}

.external-links-footer .table-forms-td-right {
    padding-left: 0;
    width: 100%;
}

.external-links-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.custom-arrow {
    border-bottom: 0 !important;
    margin-left: 0 !important;
}
